<ion-header>

  <ion-navbar>
    <ion-title>Novo Sensor</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form *ngIf="form" [formGroup]="form" (ngSubmit)="createSensor()">
    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="scanCode()">
      <div class="profile-image-placeholder" *ngIf="!this.form.controls.imagem.value">
        <ion-icon name="qr-scanner"></ion-icon>
        <div>
          Scan QR Code
        </div>
      </div>
    </div>

    <ion-list>
      <ion-item>
        <ion-input type="text" placeholder="Identificador" formControlName="guid"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="Tipo de Sensor" formControlName="tipo"></ion-input>
      </ion-item>

    </ion-list>
  </form>
  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Resultado scan: {{ scannedCode }}
    </ion-card-content>
  </ion-card>

</ion-content>