<ion-header>

  <ion-navbar>
    <ion-title>Novo Sensor</ion-title>
    <ion-buttons start>
      <button ion-button (click)="cancel()">
        <span color="primary" showWhen="ios">
          {{ 'CANCEL_BUTTON' | translate }}
        </span>
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button (click)="done()" [disabled]="!isReadyToSave" strong>
        <span color="primary" showWhen="ios">
          {{ 'DONE_BUTTON' | translate }}
        </span>
        <ion-icon name="md-checkmark" showWhen="core,android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <form (ngSubmit)="createSensor()">

    <input type="file" #fileInput style="visibility: hidden; height: 0px" name="files[]" (change)="processWebImage($event)" />
    <div class="profile-image-wrapper" (click)="scanCode()">
      <div class="profile-image-placeholder">
        <ion-icon name="qr-scanner"></ion-icon>
        <div>
          Scan QR Code
        </div>
      </div>
    </div>

    <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>

    <ion-list>

      <ion-item>
          <ion-input type="text" placeholder="Nome" [(ngModel)]="sensor.nome" name="nome" required></ion-input>
      </ion-item>

      <!-- <ion-item > 
        <ion-label>&nbsp;&nbsp;Wifi</ion-label>
        <ion-select [(ngModel)]="sensor.wifis[0].nome" name="wifiNome">
          <ion-option value="1">Sensor de Energia</ion-option>
          <ion-option value="2">{{wifi.nome + wifi.sinal}}</ion-option>
          <ion-option value="3">{{wifi.nome + wifi.sinal}}</ion-option>
          <ion-option value="4">{{wifi.nome + wifi.sinal}}</ion-option>
        </ion-select>
      </ion-item> -->
      
      <ion-item > 
        <ion-label>&nbsp;&nbsp;Wifi</ion-label>
        <ion-select [(ngModel)]="sensor.wifis[0].nome" name="wifiNome">
          <ion-option *ngFor="let wifi of currentWifis" [value]="wifi.nome">{{wifi.nome + wifi.sinal}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input type="text" placeholder="Senha" [(ngModel)]="sensor.wifis[0].senha" name="wifiSenha"></ion-input>
      </ion-item>

      <div padding>
        <button ion-button color="primary" block>Cadastrar</button>
      </div>
      
    </ion-list>    
  </form>

</ion-content>