<ion-header>

    <ion-navbar>
      <ion-title>Editar Regra</ion-title>
    </ion-navbar>
  
  </ion-header>
  
  
  <ion-content>
    <form (ngSubmit)="update()">
  
      <ion-list class="formulario">
  
        <ion-item>
            <ion-input type="text" placeholder="Nome/Descricao" [(ngModel)]="regra.descricao" name="descricao"></ion-input>
        </ion-item>
        
        <ion-item > 
          <ion-label>&nbsp;&nbsp;{{ regra.sensor.nome }}</ion-label>
        </ion-item>
  
      <ion-row>
          <ion-col col-9>
            <ion-item > 
              <ion-label>Valor Minímo</ion-label>
              <ion-select [(ngModel)]="regra.operadorMinimo" name="operadorMinimo">
                <ion-option value="0">></ion-option>
                <ion-option value="1">>=</ion-option>
                <ion-option value="2">=</ion-option>
                <ion-option value="3"><</ion-option>
                <ion-option value="4" checked="true"><=</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-3>
            <ion-item>
              <ion-input type="number" placeholder="00" [(ngModel)]="regra.valorMinimo" name="valorMinimo"></ion-input>
            </ion-item>          
          </ion-col>
        </ion-row>
  
        
        <ion-row>
          <ion-col col-9>
            <ion-item > 
              <ion-label>Valor Máximo</ion-label>
              <ion-select [(ngModel)]="regra.operadorMaximo" name="operadorMaximo">
                <ion-option value="0">></ion-option>
                <ion-option value="1">>=</ion-option>
                <ion-option value="2">=</ion-option>
                <ion-option value="3"><</ion-option>
                <ion-option value="4" checked="true"><=</ion-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col col-3>
            <ion-item>
              <ion-input type="number" placeholder="00" [(ngModel)]="regra.valorMaximo" name="valorMaximo"></ion-input>
            </ion-item> 
          </ion-col>
        </ion-row>
  
  
        <ion-item > 
          <ion-label>&nbsp;&nbsp;Período</ion-label>
          <ion-select [(ngModel)]="regra.periodo" name="periodo">
            <ion-option value="1">Diariamente</ion-option>
            <ion-option value="2">Mensalmente</ion-option>
          </ion-select>
        </ion-item>
  
        <ion-item > 
          <ion-label>&nbsp;&nbsp;Ação</ion-label>
          <ion-select [(ngModel)]="regra.acaoId" name="acaoId">
            <ion-option value="1">Mandar Email</ion-option>
            <ion-option value="2">Mandar Notificação</ion-option>
            <ion-option value="3">Desligar</ion-option>
          </ion-select>
        </ion-item>
  
        <div padding>
          <button ion-button color="primary" block>
            <div type="ngSubmit" *ngIf="!gettingDevices">Atualizar</div>
            <ion-spinner name="crescent" *ngIf="gettingDevices"></ion-spinner>
          </button>
        </div>
        
      </ion-list>    
    </form>
  
  </ion-content>