<ion-header>

  <ion-navbar>
    <ion-title>Sensores</ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="addSensor()">
        <ion-icon name="add"></ion-icon>
      </button>   
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="getSensores($event)" placeholder='Procure um Sensor da lista, ex:"Sensor de Energia"'></ion-searchbar>
  <ion-list>
    <button ion-item (click)="openSensor(sensor)" *ngFor="let sensor of currentSensores">
      <ion-avatar item-start>
        <img [src]="sensor.imagem" />
      </ion-avatar>
      <h2>{{sensor.nome}}</h2>
      <!-- <p>{{sensor.about}}</p> -->
      <!-- <ion-note item-end *ngIf="sensor.imagem">{{sensor.imagem}}</ion-note> -->
    </button>
  </ion-list>
</ion-content>